<div class="container">

  <h2 style="font-weight: bold;">Sauve des bières !</h2>
  <div style="margin: 20px"></div>
<!-- Nav tabs -->
<ul class="nav nav-pills nav-fill">
  <li class="nav-item active">
    <a class="nav-link pills-left active" data-toggle="tab" href="#liste">Liste</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pills-right" data-toggle="tab" href="#plan">Plan</a>
  </li>
</ul>
<!-- Fin Nav tabs -->

<!-- Nav tabs content-->
<div class="tab-content">
  <div id="liste" class="tab-pane fade active show">
    <!-- Liste -->
    <div style="margin: 50px"></div>

      <div class="container elmt-center cards col-12">
        <% @bars.each do |bar| %>
          <% if bar.bar_beers.size >0  %>
          <%= link_to bar_bar_beers_path(bar), class: 'link' do %>
          <div class="card-bar">
            <div class="card-bar-infos">
              <div class="beer-type">
                <div class="beer-type-infos">
                  <%qty_to_save = 0 %>
                  <%bar.bar_beers.each do |bar_beer| %>
                    <% qty_to_save += bar_beer.quantity %>
                    <% end %>
                    <%= qty_to_save %> L à sauver
                    </div>
                </div>
                <img class="photo-bar" src="<%= bar.photo %>" alt="">
                <img class="logo-bar" src="<%= bar.logo %>" alt="">
                <h2><%= bar.name %></h2>
                <p class="address-bar"><p><i class="fas fa-map-marker-alt address-icon"></i><%= bar.address %></p>
              <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>

    <div style="margin: 50px"></div>
  </div>

  <div id="plan" class="tab-pane fade">
    <!-- Plan -->
    <div style="margin: 50px"></div>

    <div id="map"
     style="width:100%; height:600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

    <div style="margin: 50px"></div>
  </div>
</div>
<!-- Fin Nav tabs content-->



</div>

<div style="padding: 100px"></div>

<div class="navbar fixed-bottom navbar-app">

  <li class="navbar-nav" style="text-align: center">
    <%= link_to "/", class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
    <p>Home</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to "/bars", class: "nav-link active" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624702421/noun_map_pin_661377_rco7b5.svg" %>
    <p>Parcourir</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to "/orders", class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461201/noun_basket_4004349_euzbws.svg" %>
    <p>Panier</p>
    <% end %>
       <% if user_signed_in? && (@current_order && @current_order.order_beers.count > 0) %>
        <div class="cart-item-round-navbar">
          <%= @current_order.order_beers.count %>
        </div>
      <% end %>
      <% if user_signed_in? && (@order && @order.order_beers.count > 0) %>
        <div class="cart-item-round-navbar">
          <%= @order.order_beers.count %>
        </div>
      <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <% if user_signed_in? %>
    <%= link_to "/profil", class: "nav-link" do %>
      <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
      <p>Profil</p>
    <% end %>
    <% else %>
     <%= link_to new_user_session_path, class: "nav-link" do %>
      <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
      <p>Profil</p>
    <% end %>
  <% end %>
</div>

