<div class="navbar fixed-bottom navbar-app">

<li class="navbar-nav" style="text-align: center">
  <%= link_to pro_path, class: "nav-link active" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
  <p>Home</p>
  <% end %>
</li>

<li class="navbar-nav" style="text-align: center">
  <%= link_to pro_path, class: "nav-link" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461228/noun_Walk_3142394_r2cvnp.svg" %>
  <p>Commandes</p>
  <% end %>
</li>

<li class="navbar-nav" style="text-align: center">
  <%= link_to pro_path, class: "nav-link" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
  <p>Profil</p>
  <% end %>
</li>

</div>
