<div class="navbar fixed-bottom navbar-app">

<li class="navbar-nav" style="text-align: center">
  <%= link_to "/", class: "nav-link active" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
  <p>Home</p>
  <% end %>
</li>

<li class="navbar-nav" style="text-align: center">
  <%= link_to "/", class: "nav-link" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461201/noun_basket_4004349_euzbws.svg" %>
  <p>Pannier</p>
  <% end %>
</li>

<li class="navbar-nav" style="text-align: center">
  <%= link_to "/", class: "nav-link" do %>
  <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
  <p>Profil</p>
  <% end %>
</li>

</div>
