<div class= "container" style="padding-left: 40px; padding-top: 20px;">
  <a href="javascript:history.back()"><i class="fas fa-chevron-left btn-arrow-grey"></i></a>
</div>

<div class="container elmt-center">
  <div style="margin: 50px"></div>

<%= simple_form_for [@bar, @bar_beer] do |f| %>
<div id="1" class="section" style="margin: 20px">
  <%# <input name="beer_name" type="search" class="input-style" placeholder="Nom"/> %>
  <%= f.input :beer_id, input_html: { class: "input-style"}, collection: @beers %>
      <div style="margin: 20px" class="btn-scroll fas fa-check-circle btn-valid-rose btn-large"></div>
 </div>

<div id="2" class="section" style="margin: 20px">
<%= f.input :quantity, input_html: { class: "input-style", placeholder:"Combien de litres à sauver ?"} %>
    <div style="margin: 20px" class="btn-scroll fas fa-check-circle btn-valid-rose btn-large"></div>
</div>

<div id="3" class="section" style="margin: 20px">
<%= f.input :selling_price, input_html: { class: "input-style", placeholder:"À quel prix ?" } %>
    <div style="margin: 20px" class="btn-scroll fas fa-check-circle btn-valid-rose btn-large"></div>
</div>

<div id="4" class="section" style="margin: 20px">
  <%= f.button :submit, "Créer ma nouvelle bière", { class: "btn-gradient-rose" } %>
</div>

<% end %>

  <div style="margin: 50px"></div>
</div>
