

<div class="container">
      <%= link_to 'Home', root_path, class: "btn-gradient-rose" %>
      <%= link_to 'Home', root_path, class: "btn-gradient-jaune" %>
      <%= link_to '', root_path, class: "fas fa-plus-circle btn-rose" %>
      <%= link_to '', root_path, class: "fas fa-plus-circle btn-jaune" %>

      <i class="fas fa-plus btn-rose"></i>
      <i class="fas fa-minus btn-rose"></i>
      <i class="fas fa-times btn-jaune"></i>
      <i class="fas fa-check-circle btn-valid-rose btn-large"></i>
      <i class="fas fa-times-circle btn-pending-jaune btn-large"></i>
      <i class="fas fa-edit btn-jaune"></i>
      <i class="fas fa-chevron-left btn-arrow-grey"></i>
      <i class="fas fa-chevron-left btn-arrow-white"></i>
</div>

<div class="container container-pop-up">
<div class="container test-pop-up">
      <div class="pop-up">
       <i class="fas fa-times btn-close"></i>
      <div class="pop-up-content">
            <h4><strong>Commande #19</strong></h4>
            <p>Statut: <strong>en attente</strong></p>
      </div>
            <%= link_to 'Valider la commande', root_path, class: "btn-gradient-rose" %>
      </div>
</div>

<div class="container test-pop-up-two">
      <div class="pop-up">
      <i class="fas fa-times btn-close"></i>
            <div class="pop-up-content">
                  <h4><strong>Commande #19</strong></h4>
                  <p>Bravo!</p>
                  <p>Vous avez sauvé des bières!</p>
            </div>
      </div>
</div>
</div>


<div class="container">
      <div class="pop-up-panier">
            <div class="pop-up-content">
                  <h4><strong>Cuvée des Trolls</strong></h4>
                  <p>Blonde, 7°</p>
                  <p class="p-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            </div>
                  <div>
                        <i class="fas fa-plus btn-rose btn-plus"></i>
                        <p class="quantity-panier">1</p>
                        <i class="fas fa-minus btn-rose btn-moins"></i>
                  </div>
            <%= link_to 'Ajouter au panier', root_path, class: "btn-gradient-rose" %>
      </div>
</div>