<div class="navbar-top" style="background: linear-gradient(#FFB651, #FEE061); border-radius: 0px 0px 0px 28px">
  <li class="navbar-nav">
    <%= link_to "/", class: "head-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624520958/noun_Beer_1696928_vb7hzu.svg" %>
    <% end %>
  </li>

  <div class="navbar-right">

  <li class="navbar-nav">
    <%= link_to "PARTICULIERS", root_path, class: "head-link"%>
  </li>

  <div style="margin: 8px"></div>

  <li class="navbar-nav">
    <%= link_to "PRO", pro_path, class: "head-link active"%>
  </li>
  </div>
</div>

<div style="padding: 80px"></div>

<div class="img-home"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624565842/beer-glasses_idjelx.png" alt=""></div>
<div class="container">
  <h1 style="font-weight: bold;">TRANSFORMEZ VOS PERTES EN GAINS</h1>
  <h5 style="color: orange;">VOUS VENDEZ DES BIÈRES PRESSION ? REJOIGNEZ NOS 19 998 PARTENAIRES</h5>
</div>

<div style="padding: 20px"></div>

<div class= "container" style="text-align: center;">
  <div class= "btn-block btn-fake-white">Je suis...</div>
  <div class= "btn-block btn-fake-white">Nom de mon commerce</div>
  <div class= "btn-block btn-fake-white">Numéro de téléphone</div>
  <div class= "btn-block btn-fake-white">Adresse email</div>
</div>

<div style="padding: 20px"></div>

<div class="container elmt-center">
    <%= link_to 'Sauver mes bières', user_session_path, class: "btn-gradient-rose" %>
</div>

    <div style="padding: 100px"></div>

<div class="navbar fixed-bottom navbar-app">

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link active" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
    <p>Home</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461228/noun_Walk_3142394_r2cvnp.svg" %>
    <p>Commandes</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to dashboard_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
    <p>Profil</p>
    <% end %>
  </li>
</div>
