<div class="navbar-top" style="background: linear-gradient(#FFB651, #FEE061); border-radius: 0px 0px 0px 28px">
  <li class="navbar-nav">
    <%= link_to "/", class: "head-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624520958/noun_Beer_1696928_vb7hzu.svg" %>
    <% end %>
  </li>

  <div class="navbar-right">

  <li class="navbar-nav">
    <%= link_to "PARTICULIERS", root_path, class: "head-link"%>
  </li>

  <div style="margin: 8px"></div>

  <li class="navbar-nav">
    <%= link_to "PRO", pro_path, class: "head-link active"%>
  </li>
  </div>
</div>

<div class="img-home" style="padding: 80px"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624565842/beer-glasses_idjelx.png" alt=""></div>
<div class="container">
  <h1 style="font-weight: bold;">TRANSFORMEZ VOS PERTES EN GAINS</h1>
  <h5 style="color: orange;">VOUS VENDEZ DES BIÈRES PRESSION ? REJOIGNEZ NOS 19 998 PARTENAIRES</h5>
</div>

<div class= "container" style="text-align: center; padding: 50px;">
  <div class= "btn-block btn-fake-white">Je suis...</div>
  <div class= "btn-block btn-fake-white">Nom de mon commerce</div>
  <div class= "btn-block btn-fake-white">Numéro de téléphone</div>
  <div class= "btn-block btn-fake-white">Adresse email</div>
</div>

<div class="container elmt-center" style="padding-top: 10px">
    <%= link_to 'Sauver mes bières', pro_path, class: "btn-gradient-rose" %>
</div>

<div class="container elmt-center" style="padding-top: 80px; padding-left: 125px; padding-right: 125px">
  <div class="img-pro"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624606564/noun_Beer_24239_mi1kzf.svg" alt="beer"></div>
  <h4 style="font-weight: bold;">Attirer de nouveaux amateurs de bières</h4>
  <p style="color: #F08787">9 105 603 utilisateurs</p>
</div>

<div class="container elmt-center" style="padding-top: 10px; padding-left: 125px; padding-right: 125px">
  <div class="img-pro"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624606564/noun_Save_Money_1411759_kmuyc9.svg" alt="money"></div>
  <h4 style="font-weight: bold;">Transformer des pertes en revenus</h4>
  <p style="color: #F08787">Stop au gaspillage !</p>
</div>

<div class="container elmt-center" style="padding-bottom: 60px; padding-top: 10px; padding-left: 125px; padding-right: 125px">
  <div class="img-pro"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624606563/noun_love_earth_3503999_v8hc5n.svg" alt="money"></div>
  <h4 style="font-weight: bold;">Faire un geste pour la planète !</h4>
  <p style="color: #F08787">Plus de 75 900 676 litres de bières sauvés</p>
</div>

<div class="container elmt-center">
    <%= link_to 'Sauver mes bières', pro_path, class: "btn-gradient-rose" %>
</div>

<div class="container elmt-center" style="padding-top: 120px;">
  <h2 style="font-weight: bold;">UN MOT DE NOS PARTENAIRES</h2>
  <div style="margin-bottom: 40px;">
    <div class="img-partenaires" style="margin: 20px;"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624611050/elevate-7ffvj3KR8uc-unsplash_rxrwh5.jpg" alt="pierre"></div>
    <h5 style="font-style: italic;"> “Un super concept écologique et économique qui satisfait tout le monde !“</h5>
    <p style="color: orange; font-size: 16px;">Pierre, Les 3 Brasseurs</p>
  </div>
  <div style="margin-bottom: 40px;">
    <div class="img-partenaires" style="margin: 20px;"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624611184/elevate-kM3jlx_N9pI-unsplash_ebtgdv.jpg" alt="marie"></div>
    <h5 style="font-style: italic;">“Nous n’avons pas jeté un seul fût depuis 3 ans !“</h5>
    <p style="color: orange; font-size: 16px;">Marie, Brasserie du Pays Flamand</p>
  </div>
  <div style="margin-bottom: 40px;">
    <div class="img-partenaires" style="margin: 20px;"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624611038/luis-angelo-_gxLDbTv2W4-unsplash_qkwufc.jpg" alt="maxime"></div>
    <h5 style="font-style: italic;">“Utiliser Sauve Ta Bière, c'est aussi créer un nouveau lien avec nos clients qui partagent les mêmes valeurs“</h5>
    <p style="color: orange; font-size: 16px;">Maxime, La Biche & Le Renard</p>
  </div>
</div>

<div class="container elmt-center" style="padding-top:30px">
    <%= link_to 'Sauver mes bières', pro_path, class: "btn-gradient-rose" %>
</div>

<div style="padding: 100px"></div>

<div class="navbar fixed-bottom navbar-app">

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link active" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
    <p>Home</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461228/noun_Walk_3142394_r2cvnp.svg" %>
    <p>Commandes</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to dashboard_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
    <p>Profil</p>
    <% end %>
  </li>
</div>
