<div class= "container" style="padding-left: 40px; padding-top: 20px;">
  <a href="javascript:history.back()"><i class="fas fa-chevron-left btn-arrow-white"></i></a>
</div>


<div class="bannerbeer" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dduubmloj/image/upload/v1624545734/elevate-KJzrLIfq2Zo-unsplash_lpddyh.jpg);"></div>

<div>
  <img class="avatar-bar" alt="La Biche et Le Renard" src="https://res.cloudinary.com/dduubmloj/image/upload/v1624546309/Biche-renard-logo-01_eg2xwu.png" />
</div>

<div class="title-bar"><h4><%= @bar.name %></h4>
<%=link_to edit_bar_path(@bar) do %>
<i id="edit-bar" class="fas fa-edit" style="color:orange; font-weight: medium;"></i>
<% end %>
</div>

<div class="img-bar"><img src="https://res.cloudinary.com/dduubmloj/image/upload/v1624547359/map-marker-alt-solid_mtilye.svg" alt="map-marker"></div>
<div class="address-bar"><p><%= @bar.address %></p></div> <!-- mettre address -->

<div class="container">
<div style="padding: 40px"></div>



<!-- Nav tabs -->
<ul class="nav nav-pills nav-fill">
  <li class="nav-item active">
    <a class="nav-link pills-left" data-toggle="tab" href="#bières">Mes bières</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pills-right" data-toggle="tab" href="#stats">Mes stats</a>
  </li>
</ul>
<!-- Fin Nav tabs -->

<!-- Nav tabs content-->
<div class="tab-content">
  <div id="bières" class="tab-pane fade active show">
    <!-- Mes bières-->

    <div style="margin: 50px"></div>
    <div style="margin: 50px"></div>
     <div style="text-align: center">
    <p> Aujourd'hui 18h00 - 20h00</p><!-- à aller chercher dans la table schédule-->
    </div>
    <div style="margin: 30px"></div>

      <div class="container elmt-center">
      <%= link_to new_bar_bar_beer_path(@bar), class: "link" do %>
      <div class="fas fa-plus-circle btn-jaune"></div>
      <div style="color: orange"></div>
      <% end %>
      </div>

    <div>
    <%@bar_beers.each do |bar_beer| %> <!--  ajouter le prix initial -->
      <div class="beers-card">
          <div class="beers-card-infos">
            <div style="padding-left: 10px">
              <%= link_to edit_bar_beer_path(bar_beer), class: 'link' do %>
              <i class="fas fa-edit" style="color:orange; font-weight: medium;"></i>
              <%end%>
            </div>
            <div>
              <h6 class="card-title"><%= bar_beer.beer.name%> </h6>
              <p class="card-categ"><%= bar_beer.beer.category%>, <%= bar_beer.beer.alcohol_degree%>°</p>
            </div>
            <div>
              <p class="card-quantity"><%= bar_beer.quantity %> L dispo</p>
            </div>
            <div>
              <p><%= bar_beer.selling_price%>€ / L</p>
            </div>

            </div>
      </div>
    <%end%>
    <div style="margin: 50px"></div>
  </div>


    <div style="margin: 50px"></div>
  </div>

  <div id="stats" class="tab-pane fade">
    <!-- Mes Stats -->
    <div style="margin: 50px"></div>



      <div style="margin: 50px"></div>
  </div>




</div>
<!-- Fin Nav tabs content-->

</div>

<div style="margin: 200px"></div>

<div class="navbar fixed-bottom navbar-app">

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
    <p>Home</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to commands_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461228/noun_Walk_3142394_r2cvnp.svg" %>
    <p>Commandes</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to dashboard_path, class: "nav-link active" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
    <p>Profil</p>
    <% end %>
  </li>
</div>
