<div class="container header-arrow">
  <div class= "container arrow-bloc" style="padding-left: 40px; padding-top: 20px;">
    <a href="javascript:history.back()"><i class="fas fa-chevron-left btn-arrow-grey"></i></a>
  </div>
  <div class="container title-bloc">
    <h3>Commandes</h3>
  </div>
</div>

<div class="container">
<% @orders.each do |order| %>
  <div class="container card-command"  style="margin-top:20px;">
  <div class="card-contact-info">
  <div class="container user-contact">
      <p style="font-weight:bold; margin-bottom:0;"><%=order.user.first_name %> <%=order.user.last_name %></p>
      <p class="small-text"><%=order.state  %></p>
    </div>
    <div class="container info-commands">
      <p style="font-weight:bold; margin-bottom:0;">commande #<%=order.id  %></p>
      <p class="small-text">payée le 22/06/2021 à 20h20</p>
    </div>
  </div>

    <div class="container">
    <% order.order_beers.each do |order_beer| %>
    <% if order_beer.bar_beer.owner?(current_user) %>
          <div class="beers-card-infos">
           <div>
              <p style="color:orange; font-weight:bold;"><%= order_beer.quantity %> L</p>
            </div>
            <div>
              <h5 style="font-weight:bold; font-size:14px; margin-bottom:0;"><%= order_beer.bar_beer.beer.name %> </h5>
              <p class="small-text"><%= order_beer.bar_beer.beer.category %>, <%= order_beer.bar_beer.beer.alcohol_degree %>°</p>
            </div>
          <div>
           <p class="small-text"><%= order_beer.buying_price %>€</p>
          </div>
            <div class="bloc-price">
              <h5 style="font-weight:bold;"><%= order_beer.buying_price * order_beer.quantity  %> €</h5>
            </div>
          </div>
          <% end %>
           <% end %>
    </div>
  <div class="container total">
    <div class="container total-info">
      <h3 style="font-weight:bold; margin-bottom:0;">Total</h3>
      <p class="small-text">
      <% total_qty = 0 %>
      <% order.order_beers.each do |order_beer| %>
      <% if order_beer.bar_beer.owner?(current_user) %>
        <% total_qty += order_beer.quantity %>
      <% end %>
      <% end %>
      <%= total_qty %> litres de bières sauvés!
      </p>
    </div>
    <div class="container total-price">
    <h3 style="font-weight:bold;">
    <% total = 0 %>
    <% order.order_beers.each do |order_beer| %>
     <% if order_beer.bar_beer.owner?(current_user) %>
    <% total += order_beer.buying_price * order_beer.quantity %>
    <% end %>
    <% end %>
    <%= total %> €
    </h3>
    </div>

  </div>
    
  </div>
</div>
<% end %>

<div style="padding: 70px"></div>

<div class="navbar fixed-bottom navbar-app">

  <li class="navbar-nav" style="text-align: center">
    <%= link_to pro_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461167/noun_Beer_1696928_ev45ep.svg" %>
    <p>Home</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to commands_path, class: "nav-link active" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461228/noun_Walk_3142394_r2cvnp.svg" %>
    <p>Commandes</p>
    <% end %>
  </li>

  <li class="navbar-nav" style="text-align: center">
    <%= link_to dashboard_path, class: "nav-link" do %>
    <%= image_tag "https://res.cloudinary.com/dduubmloj/image/upload/v1624461653/face_nfkywp.svg" %>
    <p>Mon bar</p>
    <% end %>
  </li>
</div>
